@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@700;800&display=swap");
@import "tailwindcss";
@layer base {
  .font-poppins {
    font-family: "Poppins", sans-serif;
  }
}
/* Hide scrollbar fully */
.no-scrollbar::-webkit-scrollbar {
  width: 0;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.scroll-beauty::-webkit-scrollbar {
  width: 6px;
}

.scroll-beauty::-webkit-scrollbar-track {
  background: #ebe6ff;
  border-radius: 3px;
}

.scroll-beauty::-webkit-scrollbar-thumb {
  background: #8c78ff;
  border-radius: 3px;
}

.scroll-beauty::-webkit-scrollbar-thumb:hover {
  background: #5d4bf7;
}
@keyframes slide-left {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

.animate-slide-left {
  animation: slide-left 0.25s ease-out;
}

.curve-top {
  content: "";
  position: absolute;
  top: -20px;
  left: 0;
  width: 100%;
  height: 20px;
  background: #f8f7fc;
}
.curve-top::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #7659ff;
  border-bottom-right-radius: 20px;
}
.curve-bottom {
  content: "";
  position: absolute;
  bottom: -20px;
  left: 0;
  width: 100%;
  height: 20px;
  background: #f8f7fc;
}
.curve-bottom::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #7659ff;
  border-top-right-radius: 20px;
}


::-webkit-scrollbar {
  width: 4px;
}


::-webkit-scrollbar-track {
  background: #f3f0ff; 
}


::-webkit-scrollbar-thumb {
  background: #7659ff; 
  border-radius: 10px;
}


::-webkit-scrollbar-thumb:hover {
  background: #6045e2; 
}
